/* 1024 - 1229 */
@media screen and (max-width: 1229px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .main-image {
        width: 400px;
    }
    .main-image img {
        max-width: 100%;
    }
    .products-items {
        justify-content: center;
    }
    .product {
        margin: 12px;
    }
    .order-form {
        margin-left: 45px;
    }
    .order .container {
        max-width: 1024px;
    }
}
/* 768 - 1023 */
@media screen and (max-width: 1023px) {
    .menu ul {
        width: 424px;
    }
    .main .container {
        flex-direction: column;
    }
    .main-image {
        order: 1;
    }
    .main-info {
        order: 2;
    }
    .main {
        margin-top: 70px;
    }
    .main-info h1 {
        text-align: center;
    }
    .main-action {
        text-align: center;
    }
    .products {
        padding-top: 0;
        padding-bottom: 40px;
    }
    .order {
        padding-top: 60px;
        position: relative;
    }
    .order-image {
        position: absolute;
        z-index: -1;
        right: calc(50% - 400px);
    }
    .order-image img {
        position: relative;
    }
    .order .container {
        justify-content: center;
    }
}
/* 657 - 767 */
@media screen and (max-width: 767px) {
    .footer .container {
        justify-content: space-between;
    }
    .rights {
        margin-left: 0;
    }
    .header .container {
        justify-content: center;
        flex-wrap: wrap;
        max-width: 390px;
    }
    .menu {
        order: 3;
        margin-top: 15px;
        flex-basis: 100%;
    }
    .menu ul {
        max-width: 390px;
    }
    .cart {
        margin-left: 20px;
    }
    .main-info h1 {
        line-height: 45px;
    }
    .main-advantages {
        max-width: 306px;
        margin-left: auto;
        margin-right: auto;
    }
    .order .container {
        flex-direction: column;
        align-items: center;
    }
    .order-text-title {
        text-align: center;
        margin-bottom: 35px;
    }
    .order-text-message {
        text-align: center;
        margin-bottom: 25px;
    }
    .order-form {
        margin-left: 0;
    }
}
/*425-656*/
@media screen and (max-width: 656px) {
    .main-advantages {
        max-width: 306px;
    }
}
/* 375 - 424 */
@media screen and (max-width: 424px) {
    .menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        top: 0;
        left: 0;
        background-color: #000000c9;
    }
    .menu ul {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;
    }
    .menu-item {
        margin: 15px 0;
    }
    .main-image {
        width: 100%;
    }
    .burger {
        display: block;
    }
    .burger svg {
        width: 36px;
        height: 36px;
        fill: #f9d7a8;
        margin-right: 20px;
    }
    .menu.open {
        display: flex;
        align-items: center;
    }
    .menu .close {
        display: block;
        width: 24px;
        height: 24px;
        fill: rgb(164,107,0);
        position: absolute;
        top: 20px;
        left: 20px;
    }
}
/* 320 - 374 */
@media screen and (max-width: 374px) {
    .main-info h1 {
        font-size: 38px;
    }
    .order-form {
        text-align: center;
    }
    .order-input {
        width: 290px;
    }
    .order .btn {
        width: 290px;
    }
    .rights {
        margin-left: 20px;
    }

}

















