* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Muller;
    src: url("../fonts/MullerRegular.otf");
}

@font-face {
    font-family: MullerBold;
    src: url("../fonts/MullerBold.otf");
}

@font-face {
    font-family: MullerExtraBold;
    src: url("../fonts/MullerExtraBold.otf");
}

body {
    font-family: Muller, sans-serif;
}

.btn {
    font-size: 16px;
    font-family: MullerBold, sans-serif;
    background-color: rgb(255, 175, 24);
    color: rgb(56, 36, 0);
    width: 224px;
    cursor: pointer;
    height: 60px;
    border: none;
    padding: 22px;
    box-sizing: border-box;
}

/*header*/

.header {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
    padding: 16px 0 15px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu ul {
    list-style: none;
    display: flex;
    width: 489px;
    justify-content: space-between;
}

.menu-item a {
    text-decoration: none;
    font-size: 16px;
    color: rgb(164, 107, 0);
}

/*main*/

.main {
    margin: 132px 0 81px 0;
}

.main .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-info {
    max-width: 622px;
}

.main-info h1 {
    font-size: 45px;
    font-family: MullerExtraBold, sans-serif;
    line-height: 1.222;
}

.double-title {
    color: rgb(185, 145, 80);
}

.double-title span {
    color: #ffaf18;
}

.main-advantages {
    margin-top: 13px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantage {
    max-width: 306px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 47px;
}

.advantage-text {
    margin-left: 16px;
}

.advantage-title {
    font-size: 16px;
    font-family: MullerExtraBold, sans-serif;
    color: rgb(255, 175, 24);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.advantage-description {
    font-size: 16px;
    color: rgb(185, 145, 80);
}

.main-action {
    margin-top: 60px;
}

/*products*/

.products {
    padding: 80px 0 120px 0;
}

.products-title {
    font-size: 35px;
    font-family: MullerBold, sans-serif;
    color: rgb(189, 152, 92);
    text-align: center;
}

.products-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 35px;
}

.product {
    width: 282px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 13.8px 1.2px rgba(152, 152, 152, 0.2);
    text-align: center;
    padding: 15px 20px;
    box-sizing: border-box;
    margin-top: 24px;
}

.product-image {
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-title {
    font-size: 18px;
    font-family: MullerBold, sans-serif;
    color: rgb(56, 36, 0);
}

.product-text {
    font-size: 14px;
    color: rgb(24, 26, 26);
    height: 49px;
    line-height: 1.286;
    margin: 14px 0 15px 0;
}

.product-action .btn {
    width: 242px;
    padding: 17px;
    height: 50px;
}

/*order*/

.order {
    padding: 120px 0 115px 0;
    overflow: hidden;
}

.order .container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.order-text {
    max-width: 384px;
}

.order-text-title {
    font-size: 35px;
    font-family: MullerExtraBold, sans-serif;
    margin-bottom: 65px;
}

.order-text-message {
    font-size: 16px;
    color: rgb(185, 145, 80);
    line-height: 1.5;
}

.order-form {
    margin-left: 122px;
    width: 330px;
}

.order-input {
    border-width: 1px;
    border-color: rgb(185, 145, 80);
    border-style: solid;
    background-color: rgb(255, 255, 255);
    width: 330px;
    padding: 23px 22px 24px 22px;
    font-size: 18px;
    color: rgb(154, 118, 54);
    margin-bottom: 24px;
    box-sizing: border-box;
    height: 60px;
    outline: none;
}

.order-input::placeholder {
    color: rgb(203, 168, 110);
}

.order .btn {
    width: 330px;
    height: 60px;
}

.order-image {
    width: 282px;
    position: relative;
    margin-left: 78px;
}

.order-image img {
    position: absolute;
    bottom: -35px;
}

/*footer*/

.footer {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 13.8px 1.2px rgba(152, 152, 152, 0.2);
    padding: 16px 0 15px 0;
}

.footer .container {
    display: flex;
    align-items: center;
}

.rights {
    font-size: 12px;
    color: rgb(186, 179, 179);
    margin-left: 358px;
}

.burger {
    display: none;
}
.menu .close {
    display: none;
}


















